* {
  padding: 0;
  margin: 0;
  box-sizing:  border-box;
 }

 body {
  font-family: sans-serif;
 }
 

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.modal-content {
  background-color: white;
  color: black;
  border-radius: 4px;
  width: 580px;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
  position: relative;
  z-index: 1001;
  background: linear-gradient(to bottom, #ffffff, #f0f0f0);
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s, transform 0.3s;

}


.edit-component {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
}

.edit-input {
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  font-size: 16px;
  background-color: white;
  color: black;
  border-radius: 4px;
}

td, th {
  padding: 5px; /* This adds space inside each cell */
}
tr {
  border-bottom: 1px solid black; /* 1px solid black border on each row's bottom */
}

.card {
  width: fit-content;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Minimal box shadow */
  padding: 20px;
  margin: 20px;
}

.card-title{
  padding: 5px;
  border-bottom: "1px solid rgba(0, 0, 0, 0.1)";
  color: "rgb(18,3,56)",

}
.modal-header{
  background-color: "#fafafa";
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}
.modal-body{
  background-color:  "white";
  padding: 10px;
}
.modal-footer{
  display: flex;
  justify-content: flex-end;
  padding: 2px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.container{
  margin: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}


/* Table */

.tableImageContainer {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.tableImage {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.tableHeader {
    font-size: 14px;
    font-weight: lighter;
}

.tableSubheader {
    font-size: 12px;
    font-weight: lighter;
}



@media screen and (max-width : 1024px) {
  .container{
    margin: 0 ;
    flex-direction: column;
    align-items: center;
  }
  
}

@media screen and (max-width : 420px) {
  .container{
    align-items: normal;
  }
}

/* modal dlete */
.error {
  text-align: center;
  color: red;
}

.delete-btn{
  background: red;
  color: white;

}

.edit-btn{
  background: rgb(83,29,171);
  color: white;

}